<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rememberme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.rememberme.WelcomeScreen"
            android:label="Remember Me!" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rememberme.ClassMenu"
            android:label="Menu" >
            <intent-filter>
                <action android:name="com.example.rememberme.CLASSMENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rememberme.AddInfo"
            android:label="Add a friend" >
            <intent-filter>
                <action android:name="com.example.rememberme.ADDINFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rememberme.Viewfriends"
            android:label="Friend List" >
            <intent-filter>
                <action android:name="com.example.rememberme.VIEWFRIENDS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rememberme.SmsSender"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.rememberme.SMSSENDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rememberme.SetReminder"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.rememberme.SETREMINDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.rememberme.CallandSms"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.example.rememberme.CALLANDSMS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
                <activity
            android:name="com.example.rememberme.Viewfriendlist"
            android:label="Friend Viewer" >
        </activity>
        <activity
            android:name="com.example.rememberme.FriendViewerActivity"
            android:label="Friend Viewer" 
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>
